div(ng-controller="ExampleCtrl")
  h1 Shift Typeahead

  p
    | Typeahead directive to expose filtered options as input changes

  shift-typeahead.typeahead-container(
    source = "sources"
    filter-attribute = "city"
    selected = "selected_state"
  )
    strong {{option.city}}
    span &nbsp; {{option.state}}
    div
      i pop. {{option.population}}

  h2 Scope

  pre
    code.code
      | $scope.sources.length = {{sources.length}}
      | $scope.selected = {{selected_state}}


  h1 Shift Typeahead with Multiselect

  shift-typeahead.typeahead-container(
    source = "sources"
    filter-attribute = "city"
    show-options-on-focus = "true"
    close-menu-on-esc = "true"
    selected = "selected_states"
    multiselect
  )
    input(
      type = "checkbox"
      ng-checked = "selected.indexOf(option) > -1"
    )
    | &nbsp; {{option.city}}

  h2 Scope

  pre
    code.code
      | $scope.selected_states = {{selected_states}}
