div(ng-controller="FloatingCtrl")
  h1 Shift Floating
  p
    | A directive to display a floating element on custom event

  h2 On text floating

  div.fixed-bar
    span fixed position in a fixed menu bar
    button.button.inline fixed floating on bottom
      shift-floating(
        position = "bottom"
        trigger = "click"
        fixed
      ) I'm fixed on the bottom

  .panel
    button.button.inline floating on left
      shift-floating(
        position = "left"
        trigger = "click"
      ) I'm floating on the left

    button.button.inline floating on top
      shift-floating(
        position = "top"
        trigger = "click"
      ) I'm floating on the top

    button.button.inline floating on bottom
      shift-floating(
        position = "bottom"
        trigger = "click"
      ) I'm floating on the bottom

    button.button.inline floating on right
      shift-floating(
        position = "right"
        trigger = "click"
      ) I'm floating on the right

  h2 Within a scrolling element
  div.panel(style="height: 200px; overflow: auto")
    button.button.large floating on right
      shift-floating(
        position = "right"
        trigger = "focus"
        attach-to = ".panel"
      ) I'm floating on the right

    div(style="height: 100px")

    button.button.large floating on right
      shift-floating(
        position = "right"
        trigger = "focus"
        attach-to = ".panel"
      ) I'm floating on the right

    div(style="height: 100px")

    button.button.large floating on right
      shift-floating(
        position = "right"
        trigger = "focus"
        attach-to = ".panel"
      ) I'm floating on the right
