div(ng-controller="SortableCtrl")
  h1 Shift Sortable Drag n Drop

  p
    | Sortable directive to allow drag n' drop sorting of an array.


  h2 Scope

  code.code
    | $scope.items = {{items}}

  h2 Drag n Drop

  .panel.sortable-container(
    shift-sortable = "items"
    shift-sortable-change = "onItemOrderChange(items)"
  )
    .sortable-element(ng-repeat = "item in items") {{ item }}

  h2 Drag n Drop with handle

  .panel.inline-sortable.sortable-container(
      shift-sortable = "items"
      shift-sortable-handle = "i.fa-align-justify"
    )
    span.sortable-element(ng-repeat = "item in items")
      i.fa.fa-align-justify
      |  {{ item }}

  h2 Drag n Drop accross different list

  .panel.column
    h3 Cities
    .sortable-container(
      shift-sortable = "items"
      shift-sortable-namespace = "item_bucket"
      shift-sortable-added = "onItemAdded(item)"
      shift-sortable-removed = "onItemRemoved(item)"
    )
      .sortable-element(ng-repeat = "item in items track by $index") {{ item }}

  .panel.column
    h3 Visited
    .sortable-container(
      shift-sortable = "items_visited"
      shift-sortable-namespace = "item_bucket"
    )
      .sortable-element(ng-repeat = "item in items_visited track by $index") {{ item }}

  .panel.column
    h3 Planned
    .sortable-container(
      shift-sortable = "items_to_visit"
      shift-sortable-namespace = "item_bucket"
    )
      .sortable-element(ng-repeat = "item in items_to_visit track by $index") {{ item }}
