.sortable-container
  position: relative
  width: 400px

.sortable-element
  background: #999
  color: white
  height: 2em
  line-height: 2em
  margin: 5px
  vertical-align: middle
  border-radius: 5px
  padding: 0 10px;

.dragging
  position: absolute
  box-shadow: 3px 3px 3px rgba(0,0,0,.5)
  cursor: move

.placeholder
  border: 2px #888 dashed

.inline-sortable .sortable-element,
.inline-sortable .placeholder
  display: inline-block
  vertical-align: middle
