.sortable-container{
  position: relative;
  width: 400px;

}

.column{
  width: 250px;
  display: inline-block;
  margin: 10px;
  vertical-align: top;
  .sortable-container{
    width: auto;
    min-height: 40px;
  }
}


.sortable-element{
  background: #999;
  color: white;
  margin: 5px;
  border-radius: 5px;
  padding: 10px;
}

.dragging{
  position: absolute;
  box-shadow: 3px 3px 3px rgba(0,0,0,.5);
  cursor: move;
}

.placeholder{
  border: 2px #888 dashed;
}

.inline-sortable .sortable-element,
.inline-sortable .placeholder{
  display: inline-block;
  vertical-align: middle;
}

