.single-calendar{
  .table-condensed{
    border-radius: 5px;
    border: 1px solid #eee;
    padding: 10px;
  }
  .invalid{
    opacity: .3;
  }
  thead i{
    cursor: pointer;
  }
}

.range-calendar{
  display: inline-block;
  width: auto;
  vertical-align: top;

  .table-condensed{
    border-radius: 5px;
    border: 1px solid #eee;
    padding: 10px;
  }
  .invalid{
    opacity: .5;
  }
  .highlight{
    background: rgba(138, 195, 190, 0.4);
  }
  thead i{
    cursor: pointer;
  }
}
