div(ng-controller="CalendarCtrl")
  h1 Shift Calendar
  p
    | A directive to display and input a date through a calendar.

  h2 Date

  shift-calendar.naked.single-calendar(
    ng-model = "date"
    change = "onDateChange(date)"
    validator = "dateValidator"
    allow-null = "true"
  )

  div
    button.button.inline(
      ng-click = "beginingOfYear()"
    ) begining of year

    button.button.inline(
      ng-click = "today()"
    ) today

    button.button.inline(
      ng-click = "endOfQuarter()"
    ) end of quarter

    button.button.inline(
      ng-click = "nullDate()"
    ) Null Date

  h3 Scope
  pre
    code.code
      | // moment object
      | $scope.date = {{date}}

  h2 Date Range

  shift-calendar.naked.range-calendar(
    ng-model = "start_date"
    validator = "dateValidator"
    highlight = "isDateInRange"
    change = "startDateChange(start_date)"
  )

  shift-calendar.naked.range-calendar(
    ng-model = "stop_date"
    validator = "dateValidator"
    highlight = "isDateInRange"
    change = "stopDateChange(stop_date)"
  )

  div
    button.button.inline(
      ng-click = "last90Days()"
    ) Last 90 days

    button.button.inline(
      ng-click = "lastWeek()"
    ) Last week

    button.button.inline(
      ng-click = "outOfRangeDate()"
    ) Out of range

  h3 Scope
  pre
    code.code
      | // moment objects
      | $scope.start_date = {{start_date}}
      | $scope.stop_date = {{stop_date}}
      | $scope.stop_date.diff($scope.start_date, 'day') = {{ stop_date.diff(start_date, 'days') }}

  h2 Pop Date

  p {{ foo.date.format('MMMM Do YYYY, h:mm:ss a') }}

  button.button.inline(
    shift-popover
    shift-popover-template-url = "calendar_template.html"
  )
    i.fa.fa-calendar
    | Calendar in a button with shift-popover

  .button.inline
    i.fa.fa-calendar
    | Calendar in a div with shift-floating
    shift-floating(position = "bottom")
      shift-calendar.naked.single-calendar(
        ng-model = "foo.date"
      )

  h3 Scope
  pre
    code.code
      | // moment object
      | $scope.foo.date = {{date}}
