div(ng-controller="CalendarCtrl")
  h1 Shift Calendar

  h2 Scope

  code.code
    | $scope.date = {{date}} // (moment object)

  h2 Date

  shift-calendar.naked(
    date = "date"
    date-change = "onDateChange(date)"
    date-validator = "dateValidator"
  )

  div
    button.button.inline(
      ng-click = "endOfYear()"
    ) end of year

    button.button.inline(
      ng-click = "beginingOfYear()"
    ) begining of year

