.calendar
  table.table-condensed
    thead
      tr
        th(ng-click="goToPreviousMonth()")
          i.fa.fa-chevron-left

        th.month(colspan='4') {{ showing_date.format('MMM YYYY') }}

        th(ng-click="goToDate()")
          i.fa.fa-dot-circle-o(
            title = "go to {{ date.format('MMMM Do, YYYY') }}"
            ng-hide = "showing_date.isSame(date, 'month')"
          )

        th(ng-click="goToNextMonth()")
          i.fa.fa-chevron-right

      tr
        th Su
        th Mo
        th Tu
        th We
        th Th
        th Fr
        th Sa

    tbody(ng-click="selectDate($event)")
      tr(ng-repeat="week in weeks track by $index")
        td(
          ng-repeat = "day in week track by $index"
          ng-class = "getClass(day.date)"
          data-iso = "{{ day.iso_8061 }}"
        ) {{ day.day_of_the_month }}
