.tooltip-container{
  padding: 12px;
  border-radius: 5px;
  border: 1px solid black;
  box-shadow: 3px 3px 5px rgba(0,0,0,.3);
  background: #222;
  color: #ddd;
  padding: 4px 6px;
  max-width: 700px;
  z-index: 10;
}

.highlight-word{
  text-decoration: underline;
  cursor: pointer;
}

.floating-container{
  position: absolute;
}

.floating-container[fixed]{
  position: fixed;
}
