div(ng-controller="PopoverCtrl")
  h1 Shift Popover
  p
    | A directive to display a popover on custom event

  h2 Form popover

  button.button(
    shift-popover = "shift-popover"
    shift-popover-template-url = "form_template.html"
    shift-popover-position = "bottom"
  ) Show the form

