.popover-container{
  position: absolute;
  border-radius: 5px;
  border: 1px solid #eee;
  box-shadow: 3px 3px 5px rgba(0,0,0,.3);
  background: white;
  padding: 12px;
}

.highlight-word{
  color: pink;
}
