shift-popover{
  position: relative
  width: 0;
  height: 0;
  z-index: 1;
}

.popover-content{
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 5px;
  border: 1px solid #eee;
  box-shadow: 3px 3px 5px rgba(0,0,0,.3);
  background: white;
}

.highlight-word{
  text-decoration: underline;
  cursor: default;
}
