.select-container .select-option {
  border-radius: 3px;
  padding: 5px;
  margin: 3px;
}

.select-container .select-option.selected {
  background: #18c9ba;
  color: #fff;
}

.select-container{
  max-width: 400px;
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #eee;
  border-radius: 5px;
}
