.select-container .select-option {
  border-radius: 3px;
  padding: 5px;
  margin: 3px;
}

.select-container .select-option.selected {
  background: #18c9ba;
  color: #fff;
}

.select-container{
  width: 400px;
  max-height: 300px;
  overflow-y: auto;
  border: 1px solid #eee;
  border-radius: 5px;
}

.typeahead-container{
  position: relative;
}

shift-select{
  position: absolute;
  background: white;
  margin-top: -15px;
  box-shadow: 3px 3px 3px rgba(0,0,0,.2);
}
