div(ng-controller="ExampleCtrl")
  h1 Shift Select

  p
    | Item select

  my-typeahead(
    options = "options"
    filter-attribute = "city"
    selected = "selected"
  )
    strong {{option.city}}
    span &nbsp; {{option.state}}
    div
      i pop. {{option.population}}

  h2 Scope

  pre
    code.code
      | $scope.options.length = {{options.length}}
      | $scope.selected = {{selected}}
