div(ng-controller="ExampleCtrl")
  h1 Shift Select

  p
    | An augmented html select input that allow higher customization of
    | its options

  select(
    ng-options = 'state[1] as state[0] for state in states'
    ng-model = 'state'
  )

  div.selected-container(
    ng-click = "toggleSelect(true)"
  )
    .select-option(
      ng-if = "selected"
    )
      strong {{selected.city}}
      span
        |  {{selected.state}}
        i  (pop. {{selected.population.toLocaleString() }})

    .select-option(
      ng-if = "!selected"
    )
      div Select an option...

  shift-select(
    ng-show = "show_select"
    options = "options"
    selected = "selected"
    on-select = "toggleSelect(false)"
  )
    strong {{option.city}}
    span &nbsp; {{option.state}}
    div
      i pop. {{option.population.toLocaleString()}}

  h2 Scope

  pre
    code.code
      | $scope.options.length = {{options.length}}
      | $scope.selected = {{selected}}
      | $scope.state = "{{state}}"
      | $scope.show_select = {{ show_select }}
